.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.img_size {
  width: 100vw;
  height: 400px; /* Maintain aspect ratio */
}
h3.title-txt {
  text-align: center;
  text-transform: uppercase;
  font-size: 33px;
  color: #000;
  margin-bottom: 5px;
  letter-spacing: 2px;
  margin-top: 50px;
}
.mb{
  margin-left: 10.5rem;
  margin-bottom: 4rem;
}
h3.title-txt span {
  color: #93c83f;
}
.size{
  width: 18rem;
  height: 200px;
}
.s1{
  width: 18rem;
}
.mt{
  margin-top: 15px;
}
.s2{
  font-size: 20px;
}
.btt{
  display: block;
  width: 10rem;
  margin: auto;
}

@media (max-width: 400px) {
  .mb{
    margin-left: 50px;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    padding: 4.5px;
  }

  .img_size {
    width: 100vw;  /* Full width of the viewport */
    height: 150px;  /* Maintain aspect ratio */
  }
  .size{
    width: 15rem;
  }
  .s1{
    width: 15rem;
  }
  .rs-mb{
    margin-bottom: 10px;
  }
  .mt{
    margin-top: 0px;
  }
  .s2{
    font-size: 14px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
